@model IEnumerable<CICO.Models.JournalModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IdJournal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdAliment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MealName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CalloriesAmount)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IdJournal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdAliment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MealName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CalloriesAmount)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new {  id=item.IdJournal  }) |
            @Html.ActionLink("Details", "Details", new {  id=item.IdJournal  }) |
            @Html.ActionLink("Delete", "Delete", new {  id=item.IdJournal  })
        </td>
    </tr>
}

</table>
